<div *ngIf="type === 'button'" class="button">
  <button
    [ngStyle]="{
        'width': styles!['width'],
        'height': styles!['height'],
        'border': styles!['border'],
        'background': styles!['backcolour']
  }">
    {{ styles ? styles['label'] : 'button' }}
  </button>
</div>

<label
  *ngIf="type !== 'button'"
  [for]="type"
>{{ styles && styles['label'] }}</label>
<div>
  <div [class]="type" *ngIf="type === 'checkbox'">
    <div *ngFor="let item of options">
      <input
        type="checkbox"
        [id]="item"
        [required]="required"
        [value]="item"
        >
      <label
        [for]="item"
        [ngStyle]="{
            'width': styles!['width'],
            'height': styles!['height'],
            'background': styles!['backcolour']
        }"
      >{{item}}</label>
    </div>
  </div>

  <div class="select" *ngIf="type === 'select'">
    <select
      class="field"
      [id]="type"
      [required]="required"
      [ngStyle]="{
            'width': styles && styles['width'],
            'height': styles && styles['height'],
            'background': styles && styles['backcolour']
        }"
    ><option
        *ngFor="let item of options"
        [value]="item"
        >{{item}}</option>
    </select>
  </div>

  <div class="input" *ngIf="type === 'input'">
    <input
      class="field"
      type="text"
      [id]="type"
      [required]="required"
      [ngStyle]="{
          'width': styles && styles['width'],
          'height': styles && styles['height'],
          'background': styles && styles['backcolour']
      }">
  </div>

  <div class="textarea" *ngIf="type === 'textarea'">
    <textarea
      class="field"
      [id]="type"
      [required]="required"
      [ngStyle]="{
          'width': styles && styles['width'],
          'height': styles && styles['height'],
          'background': styles && styles['backcolour']
      }"></textarea>
  </div>
</div>
