@import 'src/app/less/variables';

.field {
  border-radius: 4px;
  outline: none;
  border: 1px solid #C2D6E1;
  margin-top: 6px;
}

label {
  font-size: 18px;
  line-height: 17px;
}

.button {
  display: flex;
  justify-content: center;

  button {
    cursor: pointer;
    border-radius: 4px;
  }
}

.checkbox {
  margin: 4px;
  padding-bottom: 10px;
  label {
    padding: 3px;
    font-size: 18px;
  }
}

.error {
  padding: 3px;
  background: #F4EEEE;
}

.active {
  background: $hover;
}
