<div *ngIf="type === 'Button'" class="button">
  <button
    mat-button [ngStyle]="{
        'width': styles && styles['width'],
        'height': styles && styles['height'],
        'border': styles && styles['border'],
        'background': styles && styles['backcolour']
  }">
    {{styles ? styles['label'] : 'button'}}
  </button>
</div>

<div class="checkbox" *ngIf="type === 'Checkbox'">
  <mat-label>{{styles && styles['label']}}</mat-label>
  <mat-checkbox
    [ngStyle]="{
        'width': styles && styles['width'],
        'height': styles && styles['height'],
        'background': styles && styles['backcolour']
  }" [required]="required"
    *ngFor="let item of options" [value]="item">
    {{item}}
  </mat-checkbox>
</div>

<mat-form-field
  *ngIf="type !== 'Checkbox' && type !== 'Button'"
  appearance="fill" [ngStyle]="{
        'width': styles && styles['width']
  }">
  <mat-label>{{styles && styles['label']}}</mat-label>

  <div *ngIf="type === 'Input'" class="input">
    <input
      matInput
      [ngStyle]="{
        'height': styles && styles['height']}"
      [placeholder]="styles ? styles['placeholder']: ''"
      [required]="styles && required">
  </div>

  <div *ngIf="type === 'Select'" class="select">
    <mat-select
      [ngStyle]="{
        'background': styles && styles['backcolour'],
        'height': styles && styles['height']
  }" [required]="required">
      <mat-option *ngFor="let item of options" [value]="item">
        {{ item }}
      </mat-option>
    </mat-select>
  </div>

  <div *ngIf="type === 'Textarea'">
    <textarea
      [ngStyle]="{
            'background': styles && styles['backcolour'],
            'height': styles && styles['height']}"
      matInput
      [placeholder]="styles!['placeholder']"
      [required]="required"
    ></textarea>
  </div>

</mat-form-field>
