.button {
  display: flex;
  justify-content: center;
}

.checkbox {
  display: flex;
  justify-content: center;
  flex-direction: column;

  mat-label {
    padding: 3px;
    font-size: 18px;
    margin: auto;
  }
}

.input {
  display: flex;
  justify-content: center;

  mat-form-field {
    width: 100%;
  }
}

.select {
  display: flex;
  justify-content: center;

  mat-form-field {
    width: 100%;
  }
}

.textarea {
  display: flex;
  justify-content: center;

  mat-form-field {
    width: 100%;
  }
}
