.field{
  border-radius: 4px;
  outline: none;
  border: 1px solid #C2D6E1;
  margin-top: 6px;
}

label{
  font-size: 18px;
  line-height: 17px;
}

.button {
  display: flex;
  justify-content: center;
  button{
    cursor: pointer;
    border-radius: 4px;
  }
}

.checkbox {
  display: flex;
  align-items: center;
  margin: 4px;

  label {
    padding: 3px;
    font-size: 18px;
  }
}

.input {
  display: flex;
  justify-content: center;
}

.select {
  display: flex;
  justify-content: center;
}

.textarea {
  display: flex;
  justify-content: center;
}
