<form class="fieldStyle">

  <div class="form-item field-form-item">
    <label for="placeholder">Placeholder text:</label>
    <input type="text" id="placeholder">
  </div>

  <div class="form-item height-width-button">
    <label for="width">Width: </label>
    <input type="text" id="width">
    <label for="height">Height: </label>
    <input type="text" id="height">
  </div>

  <div class="form-item">
    <input type="checkbox" id="required">
    <label for="required">Required field</label>
  </div>

  <div class="form-item border-style">
    <p>Border style: </p>
    <div class="radioItem">
      <label for="none">none </label>
      <input
        id="none"
        type="radio"
        value="none"
        name="formColour"
      >
    </div>
    <div class="radioItem">
      <label for="dotted">dotted line </label>
      <input
        id="dotted"
        type="radio"
        value="dotted"
        name="formColour"
      >
    </div>
    <div class="radioItem">
      <label for="permanent">permanent line </label>
      <input
        id="permanent"
        type="radio"
        value="permanent"
        name="formColour"
      >
    </div>
  </div>

  <div class="form-item field-form-item">
    <label for="font-size">Font size:</label>
    <input type="text" id="font-size">
  </div>

  <div class="form-item field-form-item">
    <label for="font-weight">Font weight:</label>
    <input type="text" id="font-weight">
  </div>

  <div class="form-item field-form-item">
    <label for="colour-input">Colour input:</label>
    <input type="text" id="colour-input">
  </div>

</form>
