<div class="form-container">
  <form [formGroup]="formStyle" class="field-styles">

    <mat-form-field appearance="fill" class="form-item">
      <mat-label>Label</mat-label>
      <input matInput name="label" formControlName="label">
    </mat-form-field>

    <mat-form-field appearance="fill" class="form-item">
      <mat-label>Placeholder</mat-label>
      <input matInput name="placeholder" formControlName="placeholder">
    </mat-form-field>

    <div class="height-width-button">
      <mat-form-field appearance="fill">
        <mat-label>Width</mat-label>
        <mat-select name="width" formControlName="width">
          <mat-option *ngFor="let item of width" [value]="item.value">
            {{ item.name }}
          </mat-option>
        </mat-select>
      </mat-form-field>

      <mat-form-field appearance="fill">
        <mat-label>Height</mat-label>
        <mat-select name="height" formControlName="height">
          <mat-option *ngFor="let item of height" [value]="item.value">
            {{ item.name }}
          </mat-option>
        </mat-select>
      </mat-form-field>
    </div>

    <section class="form-item">
      <mat-checkbox class="example-margin" name="required" formControlName="required">Required Field!</mat-checkbox>
    </section>

    <div class="subDelButton">
      <div class="submission" >
        <button mat-button (click)=sendStyles()>Submit</button>
      </div>

      <div class="submission" >
        <button mat-button>Delete</button>
      </div>
    </div>

  </form>
</div>
