<div class="form-container">
  <form [formGroup]="formStyle" class="field-styles">

    <mat-form-field appearance="fill" class="form-item">
      <mat-label>Label</mat-label>
      <input matInput name="label" formControlName="label">
    </mat-form-field>

    <mat-form-field appearance="fill" class="form-item">
      <mat-label>Background colour</mat-label>
      <input matInput name="backcolor" formControlName="backcolour">
      <span matSuffix>RGB</span>
    </mat-form-field>

    <div class="height-width-button">
      <mat-form-field appearance="fill">
        <mat-label>Width</mat-label>
        <input matInput name="width" formControlName="width">
        <span matSuffix>px</span>
      </mat-form-field>

      <mat-form-field appearance="fill">
        <mat-label>Height</mat-label>
        <input matInput name="height" formControlName="height">
        <span matSuffix>px</span>
      </mat-form-field>
    </div>

    <mat-form-field appearance="fill" class="form-item">
      <mat-label>Border type</mat-label>
      <mat-select formControlName="border">
        <mat-option *ngFor="let type of border" [value]="type">
          {{ type | upper }}
        </mat-option>
      </mat-select>
    </mat-form-field>

    <div class="subDelButton">
      <div class="submission" >
        <button mat-button (click)=sendStyles()>Submit</button>
      </div>

      <div class="submission" >
        <button mat-button (click)=deleteElem()>Delete</button>
      </div>
    </div>

  </form>
</div>
