@import 'src/app/less/variables';

.auth-screen{
  color: $text;
  padding-top: 6.25rem;
  display: block;
  margin: auto;
  width: 18.75rem;
  h1{
    text-align: center;
  }
  .authInputs{
    width: 18.75rem;
  }
  .buttons{
    width: inherit;
    display: flex;
    justify-content: space-around;
  }
}
