.auth-screen{
  padding-top: 100px;
  display: block;
  margin: auto;
  width: 300px;
  h1{
    text-align: center;
  }
  .authInputs{
    width: 300px;
  }
  .buttons{
    width: inherit;
    display: flex;
    justify-content: space-around;
  }
}
