<div class="auth-screen">
  <h1>Fill Form to LogIn</h1>
  <div class="form">
    <form [formGroup]="formAuth">


        <mat-form-field appearance="fill" class="authInputs">
          <mat-label>Username</mat-label>
          <input matInput name="username" formControlName="username">
        </mat-form-field>



        <mat-form-field appearance="fill" class="authInputs">
          <mat-label>Password</mat-label>
          <input matInput name="password" formControlName="password" >
        </mat-form-field>


      <div class="buttons">
        <div class="submission">
          <button mat-button name="login" (click)=sendLoginForm()>LogIn</button>
        </div>

        <div class="submission">
          <button mat-button name="register" (click)=sendRegisterForm()>SignUp</button>
        </div>
      </div>

    </form>
  </div>
</div>
