<div class="form-builder">
  <h3>Form Builder</h3>

  <div
    class="list custom-style"
    cdkDropList
    [cdkDropListData]="form"
    cdkDropListConnectedTo="inputsList"
    id="formList"
    (cdkDropListDropped)="drop($event)"
  >
    <h2>Form Label</h2>
    <div class="box" *ngFor="let item of form; let i = index" cdkDrag>

      <input-input-card
        class="formItem"
        *ngIf="item === 'Input'"
        [id]="i"
      ></input-input-card>

      <textarea-input-card
        class="formItem"
        *ngIf="item === 'Textarea'"
        [id]="i"
      ></textarea-input-card>

      <button-input-card
        class="formItem"
        *ngIf="item === 'Button'"
        [id]="i"
      ></button-input-card>

      <checkbox-input-card
        class="formItem"
        *ngIf="item === 'Checkbox'"
        [id]="i"
      ></checkbox-input-card>

      <select-input-card
        class="formItem"
      *ngIf="item === 'Select option'"
        [id]="i"
      ></select-input-card>

    </div>
  </div>

  <p>{{formStyles}}</p>

  <div class="submission">
    <button
      mat-button
      *ngIf="form.length != 0"
    >Save Form</button>
  </div>

</div>
