<div class="form-container">
  <div class="form-styles">

    <mat-form-field appearance="fill">
      <mat-label>Font colour</mat-label>
      <input matInput>
    </mat-form-field>

    <mat-form-field appearance="fill">
      <mat-label>Font type</mat-label>
      <mat-select>
        <mat-option value="font_one">Montserrat</mat-option>
        <mat-option value="font_two">Times new roman</mat-option>
        <mat-option value="font_three">Roboto</mat-option>
        <mat-option value="font_four">Open Sans</mat-option>
      </mat-select>
    </mat-form-field>

  </div>
</div>

