<div class="form-builder">
  <h3>Form Builder</h3>

  <div
    class="list"
    [ngStyle]="{
          'color': formStyles && formStyles['colour'],
          'background': formStyles && formStyles['backcolour'],
          'border-style': formStyles && formStyles['border'],
          'font-size': formStyles && formStyles['fontSize'],
          'font-weight': formStyles && formStyles['fontWeight']
    }"
    cdkDropList
    [cdkDropListData]="form"
    cdkDropListConnectedTo="inputsList"
    id="formList"
    (cdkDropListDropped)="drop($event)"
  >
    <p>{{ formStyles && formStyles['label'] }}</p>
<!--    <form [formGroup]="generatedForm">-->
      <div class="box" *ngFor="let item of ids; let i = index" cdkDrag>
        <app-elements
          class="formItem"
          [type]="form[i]"
          [id]="item"
          (click)="selectInput(form[i],[item])"
        ></app-elements>
      </div>
<!--    </form>-->
  </div>

  <div class="submission">
    <button
      mat-button
      (click)="generateForm()"
      *ngIf="form.length !== 0"
    >Save Form</button>
  </div>
  {{form}}

</div>
