<div class="form-builder">
  <h3>Form Builder</h3>

  <div
    class="list"
    [ngStyle]="{
          'color': textColor,
          'background': backgroundColor,
          'border-style': formStyles && formStyles['border'],
          'font-size.px': formStyles && formStyles['fontSize'],
          'font-weight': formStyles && formStyles['fontWeight']
    }"
    cdkDropList
    [cdkDropListData]="form"
    cdkDropListConnectedTo="inputsList"
    id="formList"
    (cdkDropListDropped)="drop($event)"
  >
    <form
      [class]="'form-element'"
      #customForm="ngForm"
      (ngSubmit)="customForm.form.valid && showFormValue()"
      novalidate
    ><p>{{ formStyles && formStyles['label'] }}</p>
      <div
        [class]="'box'"
        *ngFor="let item of ids; let i = index"
        cdkDrag
      ><app-elements
          [class]="'formItem '+ click"
          [(ngModel)]="formValues[i]['value']"
          [type]="form[i]"
          [name]="form[i]"
          [id]="item"
          [selected]="click"
          [isCompleted]="isFormComplete"
          (newItemEvent)="addItem($event, i)"
          (click)="selectInput(form[i],[item])"
        ></app-elements>
      </div>
    </form>
  </div>

  <div class="submission">
    <button
      mat-button
      (click)="generateForm()"
      *ngIf="form.length !== 0"
    >{{!isFormComplete ? 'Save Form' : 'Continue Change'}}</button>
  </div>

</div>

<div
  class="form-value"
  *ngIf="isShowValue"
><div
  *ngFor="let item of formValues">
    <h5 *ngIf="item.value">{{item.label + ": " + item.value}}</h5>
  </div>
  <button
    mat-button
    (click)="isShowValue = false"
  >Close</button>
</div>
