<div class="input">
  <ng-container>
    <mat-form-field appearance="fill"
                    [ngStyle]="{
          'width': styles && styles['width'],
          'background': styles && styles['backcolour']
    }">
      <mat-label>{{styles ? styles['label']: 'label'}}</mat-label>
      <input
        matInput
        [ngStyle]="{
          'height': styles && styles['height']}"
        [placeholder]="styles ? styles['placeholder']: ''"
             [required]="styles && required">
    </mat-form-field>
  </ng-container>
</div>

