@import 'src/app/less/variables';

.form-container {
  width: 90%;
  display: block;
  margin: auto;

  .form-item {
    width: 100%;
  }
}

.field-styles {
  display: flex;
  flex-direction: column;
  align-items: flex-start;

  .subDelButton {
    width: 100%;
    display: flex;
    justify-content: space-around;
    margin-bottom: 10px;

    .submission {
      display: block;
      margin: auto;
    }
  }

  .height-width-button {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;

    mat-form-field {
      width: 45%;
    }
  }

  mat-checkbox {
    padding-bottom: 1.34375em;
  }

  .newOption {
    width: 100%;
    display: flex;
    justify-content: space-between;

    .options {
      width: 80%
    }

    .add-button {
      height: 3.75rem;
    }
  }


}

